<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>만든이</title>
</head>
<body>
<h1 class="page-title">
    <a href="/" class="back">뒤로가기</a>
</h1>

    <h2 style="font-size: 2em">
        당근 문의 : <a href="https://www.daangn.com/story_articles/730800134?referrer=community_agora_copy_link">당근페이지</a>
    </h2>
    <h2 style="font-size: 2em">
        기타 문의 : gurrl8356@naver.com
    </h2>

    <form action="/edit" method="GET">
        <input type="password" id="password" name="password" placeholder="수정코드" required>
        <button type="submit">send</button>
    </form>
</body>

<script>

</script>

</html>