<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main_style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>만든이</title>
</head>
<body>
<h1 class="page-title">
    <a href="/" class="back">뒤로가기</a>
</h1>

    <h2 style="font-size: 2em">
        당근 문의 : <a href="https://www.daangn.com/story_articles/730800134?referrer=community_agora_copy_link">당근페이지</a>
    </h2>
    <h2 style="font-size: 2em">
        메일 문의 : <a href="mailto:gurrl8356@naver.com?subject=상생카드주유소문의&body=상생카드주유소문의">
            gurrl8356@naver.com
        </a>
    </h2>

    <h3>※ 상생카드의 할인율은 7%를 기준으로 합니다. ※</h3>
    <h3>※ 온누리카드의 할인율은 10%를 기준으로 합니다. ※</h3>

    <br>
        <br>
            <br>
                <br>
                    <br>
    <!--맞아요 칸 띄우는걸 몰라요...-->
    <form action="/edit" method="GET">
        <input type="password" id="password" name="password" placeholder="수정코드" required>
        <button type="submit">send</button>
    </form>
</body>

<script>

</script>

</html>