<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main_style.css">
    <title>상생카드 주유소 찾기</title>
</head>
<body>
<div class="main-container">
    <div class="map-container">
        <h2>지도 예정</h2>
    </div>
    <div class="card-container">
        <a th:href="@{/oilPrice/seogu}" class="station-card"> <!- 서구 링크 -->
            <h2 class="area">서구</h2>
        </a>
        <a th:href="@{/oilPrice/bukgoo}" class="station-card"> <!- 북구 링크 -->
            <h2 class="area">북구</h2>
        </a>
        <a th:href="@{/oilPrice/namgoo}" class="station-card"> <!- 남구 링크 -->
            <h2 class="area">남구</h2>
        </a>
        <a th:href="@{/oilPrice/gwangsangoo}" class="station-card"> <!- 광산구 링크 -->
            <h2 class="area">광산구</h2>
        </a>
    </div>
</div>
</body>
</html>