<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>바우처카드 주유소 찾기</title>
</head>
<body>
<div class="main-container">
    <div class="title-container">
        <h1 class="title">
            바우처카드 주유소 찾기
        </h1>
        <div class="right-links">
            <!--온누리 상품권-->
            <a th:href="@{/oilPrice/onnuri}" class="onnuri-card"> <!- 온누리 링크 -->
                <h2 class="onnuri">온누리상품권 주유소</h2>
            </a>

            <a href="/credit" class="credit" >
                <!--<img src="/images/pomeranian.png" class="image" alt="credit">-->
                <h2 class="credit-text">요청/문의</h2>
            </a>
        </div>
    </div>
    <!--<a th:href="@{/testOil}">test</a>-->
    <div class="card-container">
        <a th:href="@{/oilPrice/seogu}" class="station-card"> <!- 서구 링크 -->
            <h2 class="area">서구</h2>
        </a>
        <a th:href="@{/oilPrice/bukgoo}" class="station-card"> <!- 북구 링크 -->
            <h2 class="area">북구</h2>
        </a>
        <a th:href="@{/oilPrice/namgoo}" class="station-card"> <!- 남구 링크 -->
            <h2 class="area">남구<br>동구</br></h2>
        </a>
        <a th:href="@{/oilPrice/gwangsangoo}" class="station-card"> <!- 광산구 링크 -->
            <h2 class="area">광산구</h2>
        </a>
    </div>
    <h2 style="font-size: 1em">
        풍부한 하루 되세요
    </h2>
</div>
</body>
<script>
</script>
</html>