<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" th:src="'https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=' + ${naverApiKey} + '&submodules=geocoder'"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="map-container" id="map">
    <div class="search">
        <!--<input id="address" type="text" placeholder="검색할 주소" value="불정로 6">-->
        <!--<input id="submit" type="button" value="주소 검색">-->
    </div>
    <h1>상생카드 주유소 찾기</h1>
</div>



<script>

</script>
</body>
</html>